<!-- your html code here -->
<div class="container-fluid bg-white px-0 pt-5 mx-0">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row pt-1">
                    <p class="h4">This First Heading</p>&nbsp;
                    <p class="h4 text-secondary">Will Catch Your Eye</p>
                </div>
                <div class="row">
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cum maiores repellendus reprehenderit?
                        Inventore
                        corporis sunt repellat error? Vitae a ab voluptatibus! Facere cum vel maxime totam sit laborum,
                        sint
                        suscipit sit amet consectetur adipisicing elit.</p>
                </div>
            </div>
            <div class="col-4">
                <img src="assets/img/1.jpg" class="rounded-circle" height="300px" width="300px">
            </div>
        </div>
    </div>
</div>