<!-- your html code here -->
<div class="container-fuid bg-white px-0 mx-0">
    <div class="container">

        <div class="row">
            <div class="col-12 px-1">
                <h1>Portafolio</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Provident, deleniti quo. Illum blanditiis,
                    laborum nesciunt, deleniti mollitia placeat doloribus perspiciatis odio reiciendis, cum repellendus
                    sed
                    exercitationem voluptatibus nihil quo id.</p>
            </div>
        </div>
        <div class="row">

            <div class="col-4 px-1">
                <div class="card border border-white" style="width:100%;">
                    <img src="https://i.picsum.photos/id/668/700/400.jpg?hmac=DGA-QGTaplX6ZiDzFEegyibh3OpQs5hLRZ-VbXI7uSo" class="card-img-top" alt="...">
                    <div class="card-body p-0 mt-3">
                        <h5 class="card-title text-primary p-0 mb-1">Card title</h5>
                        <p class="card-text"><small>Some placeholder text to demonstrate justified text alignment.
                                Will you do the same for me? It up above. Yeah, you take me to utopia.</small></p>
                    </div>
                </div>
            </div>
            <div class="col-4 px-1">
                <div class="card border border-white" style="width:100%;">
                    <img src="https://i.picsum.photos/id/134/700/400.jpg?hmac=6Tozj-ak24eH-mXZwigMpgZ_kBKTrw7DvtsD_eOyAiE" class="card-img-top" alt="...">
                    <div class="card-body p-0 mt-3">
                        <h5 class="card-title text-primary p-0 mb-1">Card title</h5>
                        <p class="card-text"><small>Some placeholder text to demonstrate justified text alignment.
                                Will you do the same for me? It up above. Yeah, you take me to utopia.</small></p>
                    </div>
                </div>
            </div>
            <div class="col-4 px-1">
                <div class="card border border-white" style="width:100%;">
                    <img src="https://i.picsum.photos/id/894/700/400.jpg?hmac=xEQoIeqbP7cFEAivvfC72sgBu-h_kha5lN2FRvV4oTY" class="card-img-top" alt="...">
                    <div class="card-body p-0 mt-3">
                        <h5 class="card-title text-primary p-0 mb-1">Card title</h5>
                        <p class=" card-text"><small>Some placeholder text to demonstrate justified text alignment.
                                Will you do the same for me? It up above. Yeah, you take me to utopiou do the same for me? It up above. Yeah, you take me to utopia.</small></p>
                    </div>
                </div>
            </div>
        </div>
    
    
    </div>

</div>